.card {
  height: 75rem;
  border: 0.5px solid black;
  max-width: 45rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  justify-self: center;
  align-self: center;

  &__img {
    height: 45rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__btn {
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 3rem;
      transition: all 0.2s;
      width: 70%;
      height: 7rem;
      position: relative;
      font-size: 3rem;
      background-color: #289647;
      color: white;
      font-weight: 600;
      text-align: center;

      //Change for the <button> element
      border: none;
      cursor: pointer;
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }

    &:active,
    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    }
  }

  &__details {
    width: 100%;
    justify-self: flex-start;

    padding-left: 6rem;
  }
}
